
p {
    color: white;
    text-align: center;
    margin:auto;
    font-family:sans-serif;
    background-color: blue;
    font-family: 'Barlow';
    /* This is a comment! */
}  

h1 {
    color: black;
    font-size: 69px;
    text-align: center;
    font-family: 'Barlow';
}

a {
    color: white;
    font-family: 'Barlow';
}

img {
    width: 400px ;
    height: 400px ;
    border-radius: 200px;
}

body {
    text-align: center;
    background-color: gold;
    margin: 50px;
    font-family: "Barlow";
}